/* .container{
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 20px;
}

.comment{
    text-align: center;
}

.search{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
} */

.input-container{
    max-width: 1200px;
    margin:40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 50%;
    padding: 20px;
}

.card-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-container .card{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}
.card-container .card img{
    width: 100%;
}
