body{
    background: #190E38;
}
.meal-details{
    margin: auto;
    padding: 40px;
}

.meal-card{
    max-width: 500px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 10px gray;
    color: white;
}

.meal-card img{
    width: 100%;
}

.search-box {
   max-width: 1200px;
   margin: 120px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.searchInput{
    padding: 10px 15px;
}

.search-box button {
    padding: 10px 15px;
    border:none;
    border-radius: 6px;
    background: #432323; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.meals{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.meal{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 10px gray;
    color: white;
}

.meal img {
    width: 100%;     
    height: 150px;    
    object-fit: cover; 
    border-radius: 8px;
}



